<html lang="el">

    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Chatterbox!</title>
            <link rel="stylesheet" type="text/css" href="css/register.css"> 
            <script src = "/socket.io/socket.io.js"></script>
           <!-- <script src="scripts/javanewindex.js"></script>-->
    </head>
    
    <body>
        <div class="login-page">
            <h1>Συνδεθείτε στο Chatterbox!</h1>
            <h3 class="logo">Λογότυπο</h3> <!--Να προστεθεί η εικόνα-->
            <hr>
            <div class="container" style="border: hidden">
                <% if (signupMessage.length > 0) { %>
                    <div class="alert alert-danger">
                        <%= signupMessage %>
                    </div>
                        
                <% } %>
                
                <% if (signinMessage.length > 0) { %>
                    <div class="alert alert-danger">
                        <%= signinMessage %>
                    </div>
                        
                <% } %>
                    
               
            </div>
            <form class="login-form" action="/signin" method="POST">
                <!--<input class="text" type="email" size="30" maxlength=50 name="email" placeholder="Email" required><br>
                <input class="text" type="password" size="30" name="userpassword" placeholder="Κωδικός πρόσβασης" required><br>-->


                <input class="text" type="email" id="email" name="email" placeholder="Email" required><br>
                <input class="text" type="password" id="password" name="password" placeholder="Κωδικός πρόσβασης" required><br>
    
                <br><button class="btn btn4" type="submit"  >Σύνδεση</button><br><br>
                <a id="forgotpasswd" href="">Ξεχάσατε τον κωδικό πρόσβασης;</a> <!--Να προστεθεί το link-->
                
                <div class="formlinks">
                <p class="message">Δεν έχετε λογαριασμό; <a href="/signup">Εγγραφή</a></p>
                </div>
            </form>

        </div>

        <nav class="navbar">
            <ul>
                <li class="listi"><a href="">Γλώσσα (Language)</a></li> <!--Να προστεθεί το link-->
                <li class="listi"><a href="">Πληροφορίες</a></li> <!--Να προστεθεί το link-->
                <li class="listi"><a href="">Όροι χρήσης</a></li> <!--Να προστεθεί το link-->
                <li class="listi"><a href="">Cookies</a></li> <!--Να προστεθεί το link-->
            </ul>
        </nav>
        <!--
        <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
        <script>
            $('.message a').click(function(){
                $('form').animate({height:"toggle", opacity:"toggle"}, "slow");
            });
        </script>
        -->

    </body>
</html>