
<html lang="el">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/info.css"> 
    <meta name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes"/>
    <title>Πληροφορίες</title>
</head>
<body>
    <div>
    Το <b>Chatterbox</b> δίνει τη δυνατότητα στους χρήστες να δημοσιεύουν εικόνες και άλλα προσωπικά δεδομένα. 
    Το περιεχόμενο αυτό είναι στην αποκλειστική ευθύνη του χρήστη και το μοιράζεται μόνο με τους 
    υπόλοιπους χρήστες που χρησιμοποιούν την συγκεκριμένη εφαρμογή. 
</div>
</body>

</html>