<html lang="el">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/info.css"> 
    <meta name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes"/>
    <title>Πληροφορίες</title>
</head>
<body>
    <div>
    To <b>Chatterbox</b> είναι μια εφαρμογή κοινωνικής δικτύωσης μεταξύ χρηστών. 
    Περιέχει ασφαλή εγγραφή του χρήστη και δημιουργία προσωπικού προφίλ.
    Η  εφαρμογή αναπτύχθηκε απο τους φοιτητές, Μαρία Μαράντου και Στυλιανό Μπαλωμένο.
</div>
</body>

</html>