html {
    font-size: 10px;
}

body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.8em / 1.8 Arial, Helvetica, sans-serif;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    background-image: url(../clouds.jpg); /* Set the background image */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    text-align: center;
}

.login-page{
    max-width: 500px;
    margin-top: .5em;
}

a {
    text-decoration: none;
    color: royalblue;
}

.form{
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center; 
}

form button{
    font-family: "Roboto", sans-serif;
    background-color: rgb(223, 104, 24);
    color: white;
    text-align: center;
    padding: 10px 30px;
    margin: auto;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

form button:hover, .form button:active{
    background-color: rgb(156, 74, 20);
}

form .message{
    margin:15px 0 0;
    color: aliceblue;
    font-size: 14px;
}


.register-form{
    display: none;
}


hr {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
    
.logo {  /* Λογότυπο */
    font-size: 2em;
    padding: 0.5em 0.5em;
    margin: 0 auto;
    max-width: 980px;
}

 div{
    margin: auto;
    width: 60%;
    border: 1px solid #333;
    padding: 0.5em;
    border-radius: .3em;
}

input{
    border-radius: 6px;
    height: 35px;
}


#formlinks{
    margin-top: 20px;
}

nav {
    margin-top: 1em;
    background-color: rgba(0, 0, 0, 0.78);
    padding: .5em;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-between;
}

nav a {
    color: #fff;
    padding: .5em 1em;
}

nav li{
    display: flex;
}